{% extends "layout.njk" %}

{% block center %}
<ul>
    {% for item in user %}
    <li>{{ component.user_name }}: {{ component.description }}</li>
    {% endfor %}
</ul>
{% endblock center %}
