<!DOCTYPE html>
<html lang="cmn-Hans">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title|default('nunjucks')}}</title>
        <style>
            #header {
                color: blue;
            }
            #footer {
                color: green;
            }
        </style>
    </head>
    <body>
        {% block header%}
        <div id="header">这是header</div>
        {%endblock%}

        {% block center%}
        这是center
        {%endblock%}

        {%block footer%}
        <div id="footer">这是footer</div>
        {%endblock%}

    </body>
</html>