<div class="banner-con">
    <img class="banner" src="/YUEDUN_files/banner_bc7bbf4a.png">
    <div class="width-visual content">
        <h1>北美好外教 让孩子爱学敢说</h1>
        <p>VIPKID目前注册在册的北美外教人数超过70,000名</p>
    </div>
</div>