<div class="banner-con width-visual">
    <img class="banner" src="{{component.background_img}}">
    <div class="content">
        <h1>{{component.title_1}}</h1>
        <h3>{{component.description}}</h3>
    </div>
</div>