<div class="banner-con">
    <img class="banner" src="{{item.background_img}}">
    <div class="width-visual content">
        <h1>{{item.title_1}}</h1>
        <h3>{{item.description}}</h3>
    </div>
</div>