<!-- 课程体系 -->
<div class="class-advantage" id="advantage">
    <div class="advantage-banner"><img class="banner"
            src="./static/dist/VIPKID_files/kechengtixiyoushi-banner_b1ddda9a.png" alt="教学理念">
        <div class="banner-content width-visual">
            <h1 class="advantage-title"><span class="vipkid">VIPKID</span><span class="jsln">教学理念</span></h1>
            <div class="advantage-list clearfix">
                <div class="fl txt"><img class="icon"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAMAAABBJv+bAAAAh1BMVEUAAAD/jmP/j2T/jmP/jmT/jmP/j2P/j2P/kGT/kWX/kGb/lGn/pXz/j2P/jmT/j2P/j2P/j2T/kmb/lGn/oXX/j2T/j2P/j2P/jmP/j2P/kGb/j2b/lWT/j2P/j2P/j2T/jmP/j2T/j2P/kGT/kWP/kWb/nGP/j3D/jmP/j2T/jmP/j2b/jmMvEaFXAAAALHRSTlMA9/rx5dPFhlI2KhcG6djBtI4iHQvMraOccEIzJOLeu6emZFxIPRIQlWZNSxieT0sAAAD7SURBVCjPbZHnloIwEEZDSQFCFVGwra66xXn/5xOcOSnA/TUz9yRfCrMk8lJEOa/6hi35PoNBPGYy5eDR/bj2FcGM4mjtPyzJG7NzBCvwljSHVfZob2a//qjbgwyoDdOPjqn9elLWFpBu6gZqduakusBJMKXXWMfOTZMQZ2qsaasbc9jhrLbRmasVnWYsQ8xhLgfUpdGhpxOrT1huvO+zlxFY9q7ucCbHUmIZOcvvgNxtDlTGPmNaoaeuIC/oi4eT9ycKiKAemlRdTUtxAlaRlLXJ12ypzSsES3vOnEeM51agJbLKk2Gtmc+jNDK4NmxJ9re/8G31q1o7ewMLr0qdgwPYxAAAAABJRU5ErkJggg=="><span>信守学生第一</span>
                </div>
                <div class="fl txt"><img class="icon"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAMAAABBJv+bAAAAh1BMVEUAAAD/jmP/j2T/jmP/jmT/jmP/j2P/j2P/kGT/kWX/kGb/lGn/pXz/j2P/jmT/j2P/j2P/j2T/kmb/lGn/oXX/j2T/j2P/j2P/jmP/j2P/kGb/j2b/lWT/j2P/j2P/j2T/jmP/j2T/j2P/kGT/kWP/kWb/nGP/j3D/jmP/j2T/jmP/j2b/jmMvEaFXAAAALHRSTlMA9/rx5dPFhlI2KhcG6djBtI4iHQvMraOccEIzJOLeu6emZFxIPRIQlWZNSxieT0sAAAD7SURBVCjPbZHnloIwEEZDSQFCFVGwra66xXn/5xOcOSnA/TUz9yRfCrMk8lJEOa/6hi35PoNBPGYy5eDR/bj2FcGM4mjtPyzJG7NzBCvwljSHVfZob2a//qjbgwyoDdOPjqn9elLWFpBu6gZqduakusBJMKXXWMfOTZMQZ2qsaasbc9jhrLbRmasVnWYsQ8xhLgfUpdGhpxOrT1huvO+zlxFY9q7ucCbHUmIZOcvvgNxtDlTGPmNaoaeuIC/oi4eT9ycKiKAemlRdTUtxAlaRlLXJ12ypzSsES3vOnEeM51agJbLKk2Gtmc+jNDK4NmxJ9re/8G31q1o7ewMLr0qdgwPYxAAAAABJRU5ErkJggg=="><span>共享优质师资</span>
                </div>
                <div class="fl txt"><img class="icon"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAMAAABBJv+bAAAAh1BMVEUAAAD/jmP/j2T/jmP/jmT/jmP/j2P/j2P/kGT/kWX/kGb/lGn/pXz/j2P/jmT/j2P/j2P/j2T/kmb/lGn/oXX/j2T/j2P/j2P/jmP/j2P/kGb/j2b/lWT/j2P/j2P/j2T/jmP/j2T/j2P/kGT/kWP/kWb/nGP/j3D/jmP/j2T/jmP/j2b/jmMvEaFXAAAALHRSTlMA9/rx5dPFhlI2KhcG6djBtI4iHQvMraOccEIzJOLeu6emZFxIPRIQlWZNSxieT0sAAAD7SURBVCjPbZHnloIwEEZDSQFCFVGwra66xXn/5xOcOSnA/TUz9yRfCrMk8lJEOa/6hi35PoNBPGYy5eDR/bj2FcGM4mjtPyzJG7NzBCvwljSHVfZob2a//qjbgwyoDdOPjqn9elLWFpBu6gZqduakusBJMKXXWMfOTZMQZ2qsaasbc9jhrLbRmasVnWYsQ8xhLgfUpdGhpxOrT1huvO+zlxFY9q7ucCbHUmIZOcvvgNxtDlTGPmNaoaeuIC/oi4eT9ycKiKAemlRdTUtxAlaRlLXJ12ypzSsES3vOnEeM51agJbLKk2Gtmc+jNDK4NmxJ9re/8G31q1o7ewMLr0qdgwPYxAAAAABJRU5ErkJggg=="><span>坚持因材施教</span>
                </div>
            </div>
        </div>
    </div>
    <div class="advantage-info width-visual">
        <div class="advantage-target">
            <h2 class="common_title">VIPKID的教学目标，将更多孩子培养成“世界小公民”<i></i></h2><img class="target-banner"
                src="./static/dist/VIPKID_files/vipkid_target_ffa37347.png" alt="VIPKID的教学目标，将更多孩子培养成“世界小公民”">
        </div>
        <div class="advantage-target">
            <h2 class="common_title" id="ai">利用AI+大数据赋能教学，形成全场景闭环<i></i></h2><img class="target-banner"
                src="./static/dist/VIPKID_files/vipkid_ai_teaching_1107_c8530122.png" alt="利用AI+大数据赋能教学，形成全场景闭环">
        </div>
        <div class="advantage-target">
            <h2 class="common_title" id="teacherTeam">优质的教材更需要科学的课程体系<i></i></h2>
            <p class="target_desc">VIPKID正在打造三大系列课程，将覆盖3-18岁全年龄段，为全球青少儿提供一站式、 高品质的英语学习方案</p><img
                class="target-banner target_system" src="./static/dist/VIPKID_files/vipkid_systems1_919e3ab3.png"
                alt="优质的教材更需要科学的课程体系">
            <div class="common_register_audition" id="freeSystemClassBtn">免费领取试听体验</div>
        </div>
        <div class="advantage-content">
            <h2 class="common_title">多种外教专项课，扩展孩子国际视野 <i></i></h2>
            <ul class="clearfix">
                <li>
                    <div class="content_type">
                        <div class="type_banner"><img src="./static/dist/VIPKID_files/kaixindidai_15ce8a4f.png"
                                alt="兴趣部落"></div>
                        <h5>兴趣部落</h5>
                        <p class="type_desc">孩子的任何一种兴趣都包含着天性中的呼声，也许还有一种天才的闪光。把兴趣与学习连结，由喜爱到热爱，不断探索发现。</p>
                    </div>
                </li>
                <li>
                    <div class="content_type">
                        <div class="type_banner"><img src="./static/dist/VIPKID_files/yuyanzhili_b10c6172.png"
                                alt="专项突破"></div>
                        <h5>专项突破</h5>
                        <p class="type_desc">识别语音语意，理解语法规则，掌握使用语言的必需技能。听说读写，专项突破，帮助孩子增强短板，让优势突显。</p>
                    </div>
                </li>
                <li>
                    <div class="content_type">
                        <div class="type_banner"><img src="./static/dist/VIPKID_files/cepingbeizhan_57ddb2a7.png"
                                alt="测评备战"></div>
                        <h5>测评备战</h5>
                        <p class="type_desc">测评是检验学习效果的有效途径。这里有针对国际化测评的专业辅导，帮助孩子通向更大的平台，积累经验，拓宽视野。</p>
                    </div>
                </li>
                <li>
                    <div class="content_type">
                        <div class="type_banner"><img src="./static/dist/VIPKID_files/kexuefengbao_85feed4c.png"
                                alt="学科启蒙"></div>
                        <h5>学科启蒙</h5>
                        <p class="type_desc">将英语知识转化为英语能力，以英语为学习工具，实现语言与学科之间相辅相成，练就学科思维，提高综合素养。</p>
                    </div>
                </li>
            </ul>
            <div class="common_register_audition" id="freeInternationalClassBtn">免费领取试听体验</div>
        </div>
    </div>
</div>
<!-- /课程体系 -->