<!-- 顶部导航 -->
<div class="header-box">
    <div class="header-empty" id="headerEmpty"></div>
    <div class="header-info-pc header-box-fixed" id="headerInfoPc">
        <div class="header-info clearfix width-visual margin-auto">
            <div class="vipkid fl">
                <a href="#"><img src="{{item.big_img}}" alt="VIPKID在线青少儿英语"></a>
            </div>
            <ul class="banner clearfix fl">
                {% for item2 in item.elements%}
                <li class="toggle xzzx">
                    <a href="{{item2.link}}">
                        <span>{{item2.title_1}}</span>
                        <i></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="login-apply fr">
                <div class="submit" id="loginHeaderBtn">{{item.links[0].title}}</div>
                <div class="apply" id="registerHeaderBtn">{{item.links[1].title}}</div>
            </div>
        </div>
    </div>
</div>
<!-- /顶部导航 -->