{% extends "edu/layout.njk" %}

{% block mybody %}
{% for item in page.components %}
  {% include category + "/" + item.name + ".njk" %}
{% endfor %}
{% endblock mybody %}
{% block script %}
<script>
  console.log("yuedun")
</script>
{% endblock script %}
