{% extends "edu/layout.njk" %}

{% block mybody %}
  {% for component in page.components %}
    {% include category + "/" + component.name + ".njk" %}
  {% endfor %}
{% endblock mybody %}
{% block script %}
  <script>
    console.log("yuedun")
  </script>
{% endblock script %}