<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no,initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="{{keywords}}">
        <link rel="alternate" media="only screen and (max-width: 640px)" href="#">
        <meta name="mobile-agent" content="format=html5;url= #">
        <title>{{title|default('月盾')}}</title>
        <link href="{{icon}}" type="image/x-icon" rel="shortcut icon">
        <link href="/style/all.css" rel="stylesheet">
        {% block stylesheet %}
        <style>
            {# 这是样式，将会被替换 #}
        </style>
        {% endblock stylesheet %}
    </head>
    {# 这个模板是父模板，其他模板继承后替换block #}
    <body>
        {% block mybody%}
        <div>这是body内容，将会被字幕版替换</div>
        {%endblock%}
        <script src="/js/jquery-3.4.0.min.js"></script>
        <script src="/js/jquery.SuperSlide.2.1.3.js"></script>
        <script src="/YUEDUN_files/home.js"></script>
        {% block script %}
        <script>
            console.log("这是原始模板，将会被子模板替换")
        </script>
        {% endblock script %}
        </body>
    </html>