<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no,initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="{{keywords}}">
        <link rel="alternate" media="only screen and (max-width: 640px)" href="#">
        <meta name="mobile-agent" content="format=html5;url= #">
        <title>{{title|default('月盾')}}</title>
        <link href="{{icon}}" type="image/x-icon" rel="shortcut icon">
        <link href="/YUEDUN_files/base.css" rel="stylesheet">
        <link href="/YUEDUN_files/home.css" rel="stylesheet">
        <link href="/YUEDUN_files/teachers.css" rel="stylesheet">
        <link href="/YUEDUN_files/advantage.css" rel="stylesheet">
        <link href="/YUEDUN_files/mc.css" rel="stylesheet">
        <link href="/YUEDUN_files/vae.css" rel="stylesheet">
        <link href="/YUEDUN_files/download.css" rel="stylesheet">
        <link href="/YUEDUN_files/classlist.css" rel="stylesheet">
    </head>

    <body>
        {% block mybody%}
        <div>这是body内容</div>
        {%endblock%}
        </body>
    </html>