<!-- 公开课 -->
<div class="openclass" id="classlist">
    <div class="openclass-banner"><img class="img" src="/VIPKID_files/class-banner_9452a787.png"
            alt="丰富多彩的公开课">
        <div class="openclass-title width-visual">
            <h1>丰富多彩的公开课<br>让孩子拓展视野、快乐学习</h1>
            <h3>为孩子打开五彩缤纷的主题英语世界</h3>
        </div>
    </div>
    <div class="search-all width-visual">
        <div class="search-criteria">
            <ul class="class-time clearfix" id="classTimeNav">
                <li class="gray"><i>类型</i></li>
                <li><span class="choose-type" data-value="ALL">不限</span></li>
                <li><span data-value="OPEN2">精品</span></li>
                <li><span data-value="OPEN1">免费</span></li>
            </ul>
            <ul class="class-level clearfix" id="classLevelNav">
                <li class="gray"><i>适合Level</i></li>
                <li><span class="choose-type" data-level="-1">不限</span></li>
                <li><span data-level="1">Level 1</span></li>
                <li><span data-level="2">Level 2</span></li>
                <li><span data-level="4">Level 3</span></li>
                <li><span data-level="8">Level 4</span></li>
                <li><span data-level="16">Level 5</span></li>
                <li><span data-level="32">Level 6</span></li>
                <li><span data-level="64">Level 7</span></li>
            </ul>
        </div>
        <div class="search-list">
            <ul class="search-content">
                <li class="clearfix">
                    <div class="content-img"><img
                            src="https://openclass-cdn.vipkid.com.cn/gateway/prod/image/ocmg/1575861031282992939_100_7e29bf09755f2dbd535a547e7ac0cc95"
                            alt=""></div>
                    <div class="content-txt">
                        <h2 class="common_text_ellipsis">I和J</h2>
                        <div class="class-age"><span class="opencds"><i></i> OC-Elizabeth DGI</span><span
                                class="people-num"><s></s><i> 358</i>人已参与</span></div>
                        <p class="desc">本课教学目标：跟读I Chant, J Chant。 辨别字母Ii, Jj的发音及形状。 学习字母Ii, Jj的代表单词：iguana, insect,
                            jellyfish, juice。
                            本课主要内容：小朋友们，又到了每周的歌谣时间，还记得上周牵山羊的G君和骑马的H君吗，这周又有两位神秘的新朋友要和我们见面了！它们是：喜欢观察昆虫的I君，和喜欢喝果汁的J君，想知道它们长什么样吗？让我们一起进入课堂来认识它们吧~
                        </p>
                        <div class="time-submit clearfix">
                            <p class="time fl"><i></i> 2019/12/27 下午6:00</p><a class="fr wantAppointment"
                                href="javascript:;">我要预约</a>
                        </div>
                    </div><img class="type-img" src="/VIPKID_files/1539586736714-competitive.png">
                </li>
                <li class="clearfix">
                    <div class="content-img"><img
                            src="https://openclass-cdn.vipkid.com.cn/gateway/prod/image/ocmg/1575861098112333015_100_a7ac2d1a6581451d0616add4ead44934.jpeg"
                            alt=""></div>
                    <div class="content-txt">
                        <h2 class="common_text_ellipsis">落日</h2>
                        <div class="class-age"><span class="opencds"><i></i> OC-Louis BC</span><span
                                class="people-num"><s></s><i>
                                    1137</i>人已参与</span></div>
                        <p class="desc">教学目标：学习含有-op字母组合的单词。 跟读并理解绘本故事Sun Sets。 辨认和运用高频词: goes, down, home。
                            本课主要内容：太阳马上就要落山了，天空慢慢地黑了下来。小狗要回家了。小猫伴随着落日也进入了梦乡。小朋友们玩了一天，也都各自蹦蹦跳跳的开始回家。回家之后小朋友们都要干什么呢？我们来猜下。吃饭？洗澡？玩游戏？你晚上回家后都会干什么呢？对了，大家都回家了。有谁还在外面玩耍呢？
                        </p>
                        <div class="time-submit clearfix">
                            <p class="time fl"><i></i> 2019/12/27 下午6:30</p><a class="fr wantAppointment"
                                href="javascript:;">我要预约</a>
                        </div>
                    </div><img class="type-img" src="/VIPKID_files/1539586736714-competitive.png">
                </li>
                <li class="clearfix">
                    <div class="content-img"><img
                            src="https://openclass-cdn.vipkid.com.cn/gateway/prod/image/ocmg/1577068473740060330_100_5b3709542a81a2c02b561c530d23fa16.jpg"
                            alt=""></div>
                    <div class="content-txt">
                        <h2 class="common_text_ellipsis">L2 新生入学指导课</h2>
                        <div class="class-age"><span class="opencds"><i></i> 中教 John</span><span
                                class="people-num"><s></s><i>
                                    286</i>人已参与</span></div>
                        <p class="desc">本课教学目标：学生初步了解和认知课上常用的指令。学生接触和感知即将开始学习第一课的内容。
                            本课核心词汇：say, listen, circle, drag, look, match。
                            本课主要内容：Hi小朋友们！欢迎来到VIPKID和我们一起体验学习的乐趣。今天我们要认识一个新的朋友-Dino。在接下来的学习旅程中，你们将会经常看到他可爱的身影。我们的新朋友Dino在今天遇到一些困难，他需要完成一些神奇的任务。都是哪些任务呢？你们愿意帮助Dino一起完成任务吗？我们快一起到课堂中看看吧！

                            上课设备要求：
                            1、本课程暂不支持网页上课
                            2、iPad客户端需升级到V3.6.0及以上版本（暂不支持iPad1、iPad2、iPad3、iPad4、iPad mini1、iPad mini2、iPad mini3
                            这7款机型）
                            3、PC客户端需升级到V3.9.0及以上版本</p>
                        <div class="time-submit clearfix">
                            <p class="time fl"><i></i> 2019/12/27 下午6:30</p><a class="fr wantAppointment"
                                href="javascript:;">我要预约</a>
                        </div>
                    </div><img class="type-img" src="/VIPKID_files/1539586768872-free.png">
                </li>
                <li class="clearfix">
                    <div class="content-img"><img
                            src="https://openclass-cdn.vipkid.com.cn/gateway/prod/image/ocmg/1575861183184154616_100_97960519d62b33b25fce6fdbd9475344.jpg"
                            alt=""></div>
                    <div class="content-txt">
                        <h2 class="common_text_ellipsis">蜕变之谜</h2>
                        <div class="class-age"><span class="opencds"><i></i> OC-Jessica CTF</span><span
                                class="people-num"><s></s><i> 2792</i>人已参与</span></div>
                        <p class="desc">本课教学目标：阅读文章，了解蝴蝶的生命历程，并回答和文章相关的问题。 阅读文章，感受大自然的神奇。 本课核心词汇：insect, cycle,
                            feed,
                            suitable, split。
                            本课主要内容：它们拥有美丽的翅膀，它们拥有美丽的舞姿，它们追逐嬉戏于花草林木间。你猜到它们是什么了吗？没错，它们就是蝴蝶。当我们惊叹于蝴蝶的美丽的时候，你知道它们经历了一场怎样的冒险吗？今天，我们将走进蝴蝶的世界，去发现它们蜕变的秘密。大家准备好了吗？Let's
                            go!</p>
                        <div class="time-submit clearfix">
                            <p class="time fl"><i></i> 2019/12/27 下午7:00</p><a class="fr wantAppointment"
                                href="javascript:;">我要预约</a>
                        </div>
                    </div><img class="type-img" src="/VIPKID_files/1539586768872-free.png">
                </li>
                <li class="clearfix">
                    <div class="content-img"><img
                            src="https://openclass-cdn.vipkid.com.cn/gateway/prod/image/ocmg/1575861257344833358_100_bd358a18d8e7b915d12aba8704bdeafc.jpg"
                            alt=""></div>
                    <div class="content-txt">
                        <h2 class="common_text_ellipsis">我们为什么需要舌头？</h2>
                        <div class="class-age"><span class="opencds"><i></i> OC-Elizabeth DGI</span><span
                                class="people-num"><s></s><i> 749</i>人已参与</span></div>
                        <p class="desc">奇妙世界：我们为什么需要舌头？ 本课教学目标：了解舌头的相关知识。 完成与本课内容相关的练习。 本课核心词汇：muscle, bump,
                            papillae,
                            sweat gland, groom, pant。
                            本课主要内容：每个人的嘴巴里都有一条软软的红红的舌头，它在我们吃饭和说话的时候动来动去，有的时候一不小心还可能会咬到它！舌头到底是干什么用的呢？为什么我们一定需要舌头呢？在我们吃饭和说话的时候，舌头究竟起到了什么样的作用呢？欢迎大家加入今天的课程，来学习关于舌头的小知识~
                        </p>
                        <div class="time-submit clearfix">
                            <p class="time fl"><i></i> 2019/12/27 下午7:30</p><a class="fr wantAppointment"
                                href="javascript:;">我要预约</a>
                        </div>
                    </div><img class="type-img" src="/VIPKID_files/1539586736714-competitive.png">
                </li>
            </ul>
        </div>
        <div id="js-page">
            <div class="page"><span data-page="1" class="js-home first-page cursor-pointer disclick">首页</span><span
                    class="js-pre pre-page cursor-pointer disclick">上一页</span>
                <ul class="page-list">
                    <li class="js-page-jump cursor-pointer active" data-page="1" data-positin="0">1</li>
                    <li class="js-page-jump cursor-pointer" data-page="2" data-positin="1">2</li>
                    <li class="js-page-jump cursor-pointer" data-page="3" data-positin="2">3</li>
                    <li class="js-page-jump cursor-pointer" data-page="4" data-positin="3">4</li>
                    <li class="js-page-jump cursor-pointer" data-page="5" data-positin="4">5</li>
                    <li class="js-page-jump">...</li>
                </ul><span class="js-next next-page cursor-pointer">下一页</span><span data-page="568"
                    class="js-end last-page cursor-pointer">尾页</span><span class="skip-page">第<em
                        class="current-page">1</em>页/共568页 转到<input class="skip-page-val js-skip-page-val"
                        type="text" value="10">页<span class="js-appoint-page goto-page">确定</span></span>
            </div>
        </div>
    </div>
</div>
<!-- /公开课 -->