<div class="our-teacher-box">
    <h2 class="common_title">我们的外教<i></i>
    </h2>
    <div class="my-teachers width-visual"><img class="swiper-bg" src="/YUEDUN_files/teacher-swiper-bg_4a79075a.png">
        <div id="carrousel">
            <div class="wrap" id="wrap">
                <div class="slide" id="slide">
                    <ul>
                        <li class="other" style="width: 200px; top: 110px; left: 20px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/b7a67184465f48d3b526bda2365df6a8.png" alt="Gar B">
                            <p class="teacher-name">Gar B</p>
                            <p class="desc">大家好，我是Gar老师，来自美国，毕业于University of Detroit Mercy School of Law，已获得博士学位，已获得美国密歇根州颁发的教师资格证，还获得了TESOL-VIPKID证书。我有10年教学经验。我和妻子及7岁的儿子生活在密歇根州，我们三个都喜欢骑自行车和旅行。我和妻子曾去过中国，中国悠久的历史和丰富的人文环境令人印象深刻。我已经在教育领域工作多年，我还当过校长。我非常理解外语学习者面临的挑战，我想帮助更多的孩子学习英语，欢迎您来为小朋友们预约英语课！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 20px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://dl.vipkidstatic.com/ter/teacher/avatar/0cd0bd1f28f8486e84202006885cc475/file.png" alt="Kristen GZ">
                            <p class="teacher-name">Kristen GZ</p>
                            <p class="desc">你好，我是Kristen老师，来自美国，毕业于Nicholls State University，已获得硕士学位，已获得美国路易斯安娜州颁发的教师资格证，还获得了TESOL-VIPKID证书。我有25年教学经验。我住在路易斯安那州的一个小镇，那里是阿察法拉亚河的下游。我和我的丈夫Matt有3个可爱的孩子。我一直在教1-12年级的孩子们。我希望能够让你的孩子有一段有趣又有教育意义的英语学习经历。我期待见到你的孩子，大家快来订课吧！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 20px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/7cc0f3148038485c9e687d710efe2f6d.png" alt="Tainaka B">
                            <p class="teacher-name">Tainaka B</p>
                            <p class="desc">大家好，我是Tainaka老师，来自美国，毕业于Converse College，已获得硕士学位，已获得美国南卡罗来纳州颁发的教师资格证，还获得了TESOL-VIPKID证书。我有7年教学经验。我在南卡罗来纳州教小学生。我喜欢教书。我也喜欢花时间和家人在一起，去旅行和跑步。我很高兴可以为中国可爱的孩子们教英文，希望和大家碰撞出不一样的火花，大家快来订课吧！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 20px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://dl.vipkidstatic.com/ter/teacher/avatar/7ba8c31078f542cd93dc6bf03653c490/file.png" alt="Jennifer BAT">
                            <p class="teacher-name">Jennifer BAT</p>
                            <p class="desc">
                                你好，我是Jennifer老师，来自美国，毕业于OaklandUniversity，已获得学士学位，已获得美国加利福尼亚州颁发的教师资格证，我还获得了TESOL-VIPKID证书。我有4年教学经验。我教过幼儿园的孩子，教过有特殊需要的学生，还教过ESL课程。在当老师之前，我做过家教，在托儿所工作过，也在很多教室做过志愿者。闲暇时，我喜欢和我的家人在一起。我还喜欢去户外，看书，跳舞等等！我对教学充满热情，我迫不及待地想帮助你的孩子在英语学习上取得成功，欢迎大家来订课！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 20px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://dl.vipkidstatic.com/ter/teacher/avatar/192bac9cfe6545d1aae9ed16b6071f7b/file.png" alt="Allison GH">
                            <p class="teacher-name">Allison GH</p>
                            <p class="desc">你好，我是Allison老师，来自美国，毕业于Lawrence University，已获得学士学位，已获得美国威斯康星州颁发的教师资格证，我还获得了TESOL-VIPKID资格证书。我有1年教学经验。我住在威斯康星州，我对音乐和教学很有热情。我希望能在VIPKID的课堂上把学习英语变成一件轻松愉快的事情，并期待着与你见面和交谈！欢迎大家来订课！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 20px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/4dda49f87e6b4cf080575cd120595761.png" alt="Savannah BO">
                            <p class="teacher-name">Savannah BO</p>
                            <p class="desc">大家好，我是Savannah老师，来自美国，毕业于Southwestern Christian University，已获得学士学位，已获得TESOL-VIPKID证书。我有10年教学经验。我教过舞蹈课程。我对教学充满了热情。我喜欢探索新的地方。我很喜欢北京。闲暇时，我喜欢和丈夫还有我们的狗一起玩耍。我也喜欢去看望亲戚朋友、去新的餐馆吃饭以及在我们家附近的湖边散步。我期待着在VIPKID的课堂上见到可爱的孩子们，我也期待着帮助孩子们打开一扇英语学习的大门。小朋友们快来订课吧！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 20px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/7e37d0330f904a8088dc5ca874f45ee6.png" alt="Kyle BW">
                            <p class="teacher-name">Kyle BW</p>
                            <p class="desc">大家好，我是Kyle老师，来自美国，毕业于Abilene Christian University，已获得硕士学位，已获得TESOL-VIPKID证书。我有7年教学经验。我喜欢教所有年龄段的学生。我是一个有经验且有创造力的老师。我擅长与他人沟通。我致力于创造一个有趣的课堂，并期待与学生和其家庭建立融洽的互动关系。授课之余，我喜欢和我的妻子还有我们的两个孩子在一起玩耍。我的女儿7岁，我的儿子4岁。我喜欢旅游，我也喜欢探索不同的语言和文化。我非常期待在VIPKID的课堂上与你相遇，小朋友们快来加入吧！
                            </p>
                        </li>
                        <li class="other" style="width: 290px; top: 110px; left: 20px; opacity: 0.8; z-index: 2; height: 280px;">
                            <img src="https://dl.vipkidstatic.com/ter/teacher/avatar/39407090/63f378f07cc64e7888455a9b863ffbb1/.jpg" alt="Patricia EO">
                            <p class="teacher-name">Patricia EO</p>
                            <p class="desc">你好，我是Patricia老师，来自美国，毕业于Thomas Edison State University，已获得学士学位，已获得TESOL-VIPKID证书。我有4年教学经验。我曾在家教我自己的孩子。我的孩子们分别5岁和3岁。我有教英语的热情，我也喜欢学习新的文化！授课之余，我喜欢旅行、去户外玩耍还有和我的家人共度时光！我很高兴能和VIPKID的孩子们一起学习英语，我非常愿意教您的孩子学习新技能！教学是我的激情所在，能教您的孩子是我的荣幸。我希望很快能够在教室里见到您的孩子，欢迎大家来订课！
                            </p>
                        </li>
                        <li class="middle" style="width: 420px; top: 0px; left: 302px; opacity: 1; z-index: 4; height: 500px;">
                            <img src="https://dl.vipkidstatic.com/ter/teacher/avatar/a41dd6627d7c497597ea112a10a590b5/.png" alt="Jennifer BEI">
                            <p class="teacher-name">Jennifer BEI</p>
                            <p class="desc">
                                你好，我是Jennifer老师，来自美国，毕业于CentralMichiganUniversity，已获得学士学位，已获得TESOL-VIPKID证书。我有6年教学经验。我喜欢动物，如果你加入我的班级，你可能会在我的课堂上看到它们。我也喜欢欣赏大自然的美景，和各种各样的户外活动。我有三个孩子，我喜欢陪伴家人和朋友。我曾在不同的环境中与儿童打交道。例如，儿童俱乐部、课外活动、舞蹈课程、健身房以及在家辅导我的三个孩子。我希望能在VIPKID把学习英语变成一件轻松愉快的事情，快来报名吧！
                            </p>
                        </li>
                        <li class="other" style="width: 290px; top: 110px; left: 710px; opacity: 0.8; z-index: 2; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/5d0f1aa423014fceb26c8ec64a57c668.png" alt="Morgan EU">
                            <p class="teacher-name">Morgan EU</p>
                            <p class="desc">你好，我是Morgan老师，来自美国，毕业于Iowa State University，已获得学士学位，已获得TESOL-VIPKID证书。我有2年教学经验。我目前在教音乐和戏剧课程。我也在迪士尼乐园工作。我认为学生们能够在我的课堂上受益良多，小朋友们快来约课吧！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 710px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/0381379070d84239ba227b1783f03ae8.png" alt="Elizabeth RJ">
                            <p class="teacher-name">Elizabeth RJ</p>
                            <p class="desc">大家好，我是Elizabeth老师，来自美国，毕业于Brigham Young University，已获得学士学位，已获得TESOL-VIPKID证书。我有1年教学经验。我住在美国犹他州的盐湖城南部。我曾给来自不同国家的高中生讲ESL课程。我喜欢教孩子们，并帮助他们拓宽视野。我喜欢让孩子们在愉快的氛围中学到更多知识。授课之余，我喜欢园艺、做饭和打网球。我非常期待在教室里见到你的孩子，大家快来订课吧！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 710px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/69794f90ba01483486f9ac2df3c0a6e2.png" alt="Leah DL">
                            <p class="teacher-name">Leah DL</p>
                            <p class="desc">你好，我是Leah老师，来自美国，毕业于Wilmington University，已获得学士学位，已获得TESOL-VIPKID证书。我有3年教学经验。我是一位家教。我也当过小学的夏令营辅导员。工作之余，我喜欢阅读，我也喜欢陪我的两个孩子、我的丈夫还有我们的狗一起玩。我非常期待与你一起畅游英语学习的乐园，我希望为大家提供轻松稳定的互联网教学环境，我想见证每一位小学员在英语学习上取得的进步，大家赶快来上课吧！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 710px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/8508858d96704e66a1d4d32eee125524.png" alt="Derek L">
                            <p class="teacher-name">Derek L</p>
                            <p class="desc">大家好，我是Derek老师，来自美国，毕业于Biola University，已获得硕士学位，已获得TESOL-VIPKID证书。我有11年教学经验。我是两个孩子的父亲。我也是一个有趣且积极向上的老师。我希望能在VIPKID的课堂上把学习英语变成一件轻松愉快的事情。我非常期待在课堂上与你相遇，小朋友们快来加入吧！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 710px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/afde7fded7314ce8b39bc17e217a86c0.png" alt="Connor I">
                            <p class="teacher-name">Connor I</p>
                            <p class="desc">大家好，我是Connor老师，来自美国，毕业于University of California, Berkeley，已获得学士学位，已获得TESOL-VIPKID证书。我有4年教学经验。目前，我正在攻读经济学硕士学位。我非常热爱教育事业，我也喜欢和孩子们一起学习。我教过英语和数学，我还曾在体育运动中指导孩子们。我非常期待在教室里见到您的孩子，大家快来订课吧！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 710px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://dl.vipkidstatic.com/ter/teacher/avatar/4b3bfc7123984f65860e63d5c5a8b7a5/file.png" alt="Kaitlyn CR">
                            <p class="teacher-name">Kaitlyn CR</p>
                            <p class="desc">大家好，我是Kaitlyn老师，来自美国，毕业于Rollins College，已获得学士学位，已获得TESOL-VIPKID证书。我有2年教学经验。我在保加利亚教过小学和高中英语，我也在泰国圣斯蒂芬国际英语学校的夏令营项目中教过英语。我喜欢用歌曲、游戏和道具来教学！我认为当孩子们掌握了一种新的技能并且可以在日常生活中运用时，他们是非常有成就感的。我是一位精力充沛且有耐心的老师，我热衷于让孩子们开心地学习。我期待着在我的教室里见到您的孩子！欢迎大家来订课！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 710px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/045fa29e1ed547c78619ccd2ed0aa0c1.png" alt="Amy PU">
                            <p class="teacher-name">Amy PU</p>
                            <p class="desc">你好，我是Amy老师，来自美国，毕业于Dartmouth College，已获得学士学位，已获得TESOL-VIPKID证书。我有6年教学经验。我很高兴能帮助您的孩子学习英语！我曾和孩子们一起工作。我在美国和洪都拉斯辅导过来自不同国家的儿童和成人学习英语。我也教过英语阅读、数学、科学、舞蹈和艺术课程。我是一位友好的、有耐心的且非常关心学生的老师。闲暇时，我喜欢去旅行、阅读、跑步、跳舞、做运动还有和我的丈夫以及朋友们共度快乐的时光。快来我的课堂告诉我关于你们的点点滴滴，并和我一起畅游英语学习的世界吧！
                            </p>
                        </li>
                        <li class="other" style="width: 200px; top: 110px; left: 710px; opacity: 0; z-index: 1; height: 280px;">
                            <img src="https://img.vipkidstatic.com/ter/tr/img/1ac703e1aa524f019a777f64cd5d7d69.png" alt="Kassandra N">
                            <p class="teacher-name">Kassandra N</p>
                            <p class="desc">大家好，我是Kassandra老师，来自美国，毕业于Weber State University，已获得学士学位，已获得TESOL-VIPKID证书。我有7年教学经验。大家也可以叫我Kassie老师。我曾在幼儿园做阅读老师，我也做过阅读助教。我喜欢教书！我希望能在我的课堂上见到孩子们！我非常期待和学生们开始一段美妙的学习旅程，小朋友们快来加入吧！
                            </p>
                        </li>
                    </ul>
                    <div class="arrow" id="arrow">
                        <a class="prev" id="arrLeft" href="javascript:;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAMAAAArteDzAAAAPFBMVEUAAAD4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBX4VBXUt8t8AAAAE3RSTlMA9PA1PyKX/Obc2K+GgWlMMRMF2GaxgQAAAHpJREFUWMPt2EkKwCAQBVFjopnHvv9dk50hO6EbOlB1gAeiG38gIqJ36VQnj0kkK5ttlKfNwJTZwJRsYDbJwOwwMTExMTHrTOkblcb1CimKdkvYRb3BBDU5vslFfZ6U74eKioqKivpTNXn/mpcRwf/cUYYZ/xMSEVFlN0XAMTXlyjfNAAAAAElFTkSuQmCC"></a>
                        <a class="next" id="arrRight" href="javascript:;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAMAAAArteDzAAAAPFBMVEUAAAD5VRb5VBX6Vxj7VRj4VRb8Vxj5VRX4VBX4VRb5VRX5VRb5Vhf5VRb6VRb4Vxf/VRr/Wxr/ZjP4VBUiiPj+AAAAE3RSTlMA9PA1P5gk/Obc2K+GgWlMHhMFCzxlZwAAAHxJREFUWMPt2EsKgCAURuG0tPfz7n+vBREGTRrcCxbnLOAD0Yl/QUREb1ujvhlEulLZnOTIK6u9GKhBDNToLNQKFRUVFRX1rm5j61SqJamDaOeXohH1ZhPU5PgWF5X3Q8XExMTE/LeZPry5f82vESH/ueMcZj4xIRERPdsBqekxMaD+sooAAAAASUVORK5CYII="></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>