<!-- 滚动banner -->
<div class="home-container">
    <div class="home-banner-container">
        <div id="focus-banner">
            <ul class="banner-list" id="focus-banner-list">
                <li class="bannerbox4 hidebanner" style="z-index: 2;">
                    <img class="banner-img" src="/YUEDUN_files/banner-4_b3ddc79e.png">
                </li>
                <li class="bannerbox8 hidebanner showbannerAnimation" style="z-index: 1;">
                    <img class="banner-img" src="/YUEDUN_files/banner8_0e37261f.png">
                </li>
            </ul>
            <ul class="focus-bubble" id="focus-bubble">
                <li class="">
                    <span></span></li>
                <li class="current">
                    <span></span></li>
            </ul>
        </div>
    </div>
</div>
<!-- /滚动banner -->