<!-- 滚动banner -->
<div class="home-container">
    <div class="home-banner-container">
        <div id="focus-banner">
            <ul class="banner-list" id="focus-banner-list">
            {% for item2 in item.elements %}
                <li class="bannerbox4 hidebanner" style="z-index: 2;">
                    <img class="banner-img" src="{{item2.img}}">
                </li>
            {% endfor %}
            </ul>
            <ul class="focus-bubble" id="focus-bubble">
            {% for item2 in item.elements %}
                <li class="current"><span></span></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- /滚动banner -->