<!-- 回到顶部 -->
<div class="scroll-top-fixed-img" id="goBackBtn">
    <div class="back"><img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAJFBMVEUAAAD///////////////////////////////////////////+0CY3pAAAAC3RSTlMAgLAF7TFCDeXaoua3XDYAAAB0SURBVBjTY2BIFIQCMQYGhu7dULCDAUUGApgNGBDASBnBZtbeZICQ2L1bGSHhvQUuZbQlequ3MkzClXtDCFAKIhHAvYEVKAWRYODewACR4toSAOKwei8AcjhdGUAchpAJQA57AYgDpkEAzAECmnCYFBgwAADfOiOq22uNywAAAABJRU5ErkJggg=="
            alt=""></div>
</div>
<!-- /回到顶部 -->