<!-- 底部固定 -->
<div class="section-bottom" id="sectionBottom">
    <div class="bottom-con clearfix width-visual"><img class="person"
            src="./static/dist/VIPKID_files/liutao_d700b2b1.png" alt="刘涛">
        <p class="fl">免费领取价值<span>288元</span>试听体验</p>
        <div class="register fl clearfix">
            <div class="box fl"><img class="tel"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAwCAMAAABkKdmIAAAANlBMVEUAAADLy8vJycnNzc2goKCYmJiXl5eXl5eYmJiZmZmYmJiqqqqYmJiXl5eXl5fKysrJycmXl5cRP6uzAAAAEHRSTlMAf8wzG+f2x6ZrTQnttrNl4LK9gAAAAIxJREFUSMftlksOgCAMRFHbgtTf3P+yuqdgSBPjgrds8jLAgk7wsUaBicTVNg40OMwMcNZgoplh5UTkUCUjGlOB1hWFGFMgNACqw3MqobYyXyXLUIYylKF8pfj/MZsfKZSYE/UotOFhow4lYSfakToUBj1RYIfiOJj/+gKtP7JCHEvcUxXeC0l/7XFxA0HBMNBy1SRTAAAAAElFTkSuQmCC"><input
                    class="registerAuditions" type="text" placeholder="请输入您的手机号" maxlength="11">
                <div class="error-tips" id="bottomErrorTips"><img class="img"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAQCAMAAAAyEe/dAAAAM1BMVEUAAAD/yBf/xxb/xxf/xxb/xxf/xxb/3yD/xxj/xhf/xxf/xxb/xxr/xhz/xhb/xhn/xhbQ6G/hAAAAEHRSTlMAIH/tzZxkCEn337YyEotIs2RkdwAAAF1JREFUGNN1z0kOgDAQA0Fnm+zA/18LQgThMKlrHywjHEsB0a+aj4BxenMGl6THHTerNYtH/beKoZe5lY5Xy9xyw4dwFJDA71n0/J4Zx+9ZGjFBYen9bKM2MyK0dwKWxA8Y422kxwAAAABJRU5ErkJggg=="><span>请输入正确的手机号</span>
                </div>
            </div>
            <div class="btn fl registered-auditions-bottom" id="fixClickBottomBtn">立即领取</div><img class="close-btn"
                id="closeBtnBottom"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAgVBMVEUAAACAgICYmJiDg4OCgoKGhoaAgICAgICAgICAgICAgICBgYGEhISAgIB/f3+AgICAgICBgYGBgYGAgICAgICAgICBgYGAgICCgoKEhISAgICAgICBgYGBgYGAgICAgIB/f3+AgICAgICBgYF/f3+AgICBgYGAgIB/f39/f39/f39EzGRfAAAAKnRSTlMA/AMUGQfy7dnUySsP9+fQmzIh499fWCUdC7OkRj++uayHf3dvaFE5wo2t9/QlAAAA6klEQVRIx+3QyQ6CMBCA4UHccEFAZFFxRdR5/we0hpJJGCaMFy/6n9rplyYt/F4pyI3YJHFKUUfxpn23g3iT9Bqxas1KlHwWI84WoPGkWVfjNxpN3mn74RRxRZp7rl0QupBnWvIJ0zrveoie1VJn67mWfdXoIYDOuyvEqdH9PY1PSKs813IBIvqZVi9mhi/3H+gxeYWOs0Dpc6PXEYDO549a175Qap3PD0andjPYmScXPdo3WudHbz2v1+Tvkj5azbykJ1aTP5EXNPch11vSzE9Cru2Q+46jyOeafPMDVOqF8gcHHW+Cf9/sBZk3IVgvUNfYAAAAAElFTkSuQmCC">
        </div>
    </div>
</div>
<!-- /底部固定 -->