<div class="section-nine">
    <div class="cooperation-box width-visual">
        <h2 class="common_title">{{component.title_1}}
            <i></i>
        </h2>
        <ul class="clearfix">
            {% for element in component.elements %}
                <li class="col_3"><img src="{{element.img}}" alt="{{element.title_1}}"></li>
            {% endfor %}
        </ul>
    </div>
</div>