<!-- 页脚 -->
<div class="footer">
    <div class="footer-info clearfix width-visual">
        <div class="copyright fl color-main">
            <p class="copy">
                <span>© YUEDUN 沪ICP备17035008号</span>
            <p class="permit">
                <span>联系邮箱 huopan@hopefly.top</span>
            </p>
        </div>
        <div class="copyright-ipad fl color-main">
            <p class="copy">
                <span>© YUEDUN 沪ICP备17035008号</span>
                <span><img class="icon" src="/YUEDUN_files/1539606525093-policeEmblem.png">沪ICP备17035008号</span>
            </p>
            <p class="permit">
                <span>联系邮箱 huopan@hopefly.top</span>
            </p>
        </div>
        <div class="country fr">
            <div class="china">中国<img class="china-img"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcBAMAAACAI8KnAAAAD1BMVEUoKCiXl5c0NDSIiIhtbW0CrxlgAAAAS0lEQVQY02OgM2BSQOEqG6FIGgorIEsKChohSwoKAqURksKGCGkmIFsZIQ1iMsGlISyoNIwBl3YE0mBREQgXJAmShnBVnBhg9IABAI56CF//sUWqAAAAAElFTkSuQmCC">
            </div>
            <div class="national-ul">
                <ul>
                    <li>
                        <a class="clearfix" href="http://www.yudun.wang?from=nest">
                            <span class="fl">中国</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>